[submodule "modules/opencv4-native"]
	path = modules/opencv4-native
	url = https://github.com/hellonico/opencv4-native.git
[submodule "modules/origami-scripting"]
	path = modules/origami-scripting
	url = https://github.com/hellonico/origami-scripting.git
[submodule "modules/origami-filters"]
	path = modules/origami-filters
	url = https://github.com/hellonico/origami-filters.git
[submodule "modules/kotlin-samples"]
	path = modules/kotlin-samples
	url = https://github.com/hellonico/origami-kotlin-samples.git
