/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.classpath
.project
.settings/
.vscode/
cv.clj
debug.log
output.clj
rgb.clj
video.clj
.eastwood
.idea/
origami.iml