[submodule "modules/opencv4-native"]
	path = modules/opencv4-native
	url = git@github.com:hellonico/opencv4-native.git
[submodule "modules/origami-filters"]
	path = modules/origami-filters
	url = git@github.com:hellonico/origami-filters.git
[submodule "modules/kotlin-samples"]
	path = modules/kotlin-samples
	url = git@github.com:hellonico/origami-kotlin-samples.git
[submodule "modules/jetbrains-compose-webcam"]
	path = modules/jetbrains-compose-webcam
	url = git@github.com:hellonico/origami-compose-article.git
[submodule "modules/clojure-cli-samples"]
	path = modules/clojure-cli-samples
	url = git@github.com:hellonico/origami-clojure-cli-samples.git
[submodule "modules/llamaclj-on-cam"]
	path = modules/llamaclj-on-cam
	url = git@github.com:hellonico/origami-llamaclj.git
[submodule "modules/starter-scala"]
	path = modules/starter-scala
	url = git@github.com:hellonico/origami-starter-scala.g8.git
[submodule "modules/web-docs"]
	path = modules/web-docs
	url = git@github.com:hellonico/origami-docs.git
[submodule "modules/jbangs"]
	path = modules/jbangs
	url = git@github.com:hellonico/origami-jbang.git
[submodule "modules/opencv-live-video-stream-over-http"]
	path = modules/opencv-live-video-stream-over-http
	url = https://github.com/hellonico/opencv-live-video-stream-over-http.git
[submodule "modules/origami-dnn"]
	path = modules/origami-dnn
	url = https://github.com/hellonico/origami-dnn.git
[submodule "modules/origami-wasabi"]
	path = modules/origami-wasabi
	url = https://github.com/hellonico/origami-wasabi.git
[submodule "modules/origami-viewer"]
	path = modules/origami-viewer
	url = https://github.com/hellonico/origami-viewer.git
